*{
    box-sizing: border-box;
}
html{
    color: #666666;
    background: #90C7E3 linear-gradient(to bottom, #FFFFFF, #90C7E3) no-repeat;
}
h1{
    background-color: #000033;
    color: white;
    font-family: Georgia;
    background-repeat: no-repeat;
    background-position: top right;
    height: 120px;
    text-align: center;
    padding-top: 30px;
    margin-top: 0px;
    padding-left: 3em;
    font-size: 3em;
    letter-spacing: 0.25em;
}
nav{
    font-weight: bold;
    padding: 1.5em 1.5em 1.5em 1.5em;
    font-size: 120%;
    float: left;
    width: 160px;

}
h2{
    color: #3399CC;
    font-family: Georgia;
    text-shadow: #CCCCCC 1px 1px 1px 1px;
}
h3
{
    font-family: Georgia;
    color: #000033;
}
dt{
    color: #000033;
}
.resort{
    color: #5C7FA3;
}
body
{
    font-family: Arial;
    background: #B8DBED
}

nav a
{
    text-decoration: none;
    transition: ease-out 3s;
}
main ul
{
    list-style-image: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
}
footer
{
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia;
    padding: 20px 20px 20px 20px;
    margin-left: 190px;
    background-color: white;
}
.resort
{
    font-weight: bold;
}
#contact
{
    font-size: 90%;
}
#wrapper
{
    width: 80%; min-width: 960px; max-width: 2048px;
    margin-right: auto;
    margin-left: auto;
    background-color: #90C7E3;
    box-shadow: 3px 3px 3px #333333;
    border: 1px;
    border-color: #000033;
    background: #90C7E3 linear-gradient(to bottom, #FFFFFF, #90C7E3) no-repeat;

}
main
{
    padding: 1px 20px 20px 20px;
    background-color: white;
    margin-left: 190px;
    padding-left: 30px;
}
#homehero
{
    height: 300px;
    background-image: url("coast2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
#yurthero
{
    height: 300px;
    background-image: url("yurt.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
#trailhero
{
    height: 300px;
    background-image: url("trail.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 190px;
}
a:link{
    color: #5C7FA3;
}
a:visited{
    color: #344873;
}
a:hover{
    color: #A52A2A;
}
h1, main, nav, footer, figure, figcaption, aside, section, article{
    display: block;
}
#mobile{
    display: none;
}
#desktop{
    display: inline;
}
table {
    border: 2px;
    border: solid;
    border-color: #3399CC;
    border-collapse: collapse;
}
th, td{
    padding: 0.5em;
    border: 2px;
    border: solid;
    border-color: #3399CC;
}
td{
    text-align: center;
}
.text{
    text-align: left;
}
tr:nth-of-type(odd){
    background-color: #F5FAFC;
}
label {
    float: left;
    display: block;
    text-align: right;
    width: 120px;
    padding-right: 10px;
}
input{
    display: block;
    margin-bottom: 20px;
    margin-left: 130px;
}
textarea{
    display: block;
    margin-bottom: 20px;
}
video, embed {
    float: right; padding-left: 20px;
}
#gallery{
    height: 200px;
    position: relative;
}
figure{
    position: absolute;
    left: 280px;
    text-align: center;
    opacity: 10;
}
#gallery ul {
    width: 300px;
    list-style-image: none;
}
#gallery li{
    display: inline;
    float: left;
    padding: 10px;
}

#gallery a{
    text-underline: none;
    color: #eaeaea;
    font-style: italic;
}
#gallery img{
    border: none;
}
#gallery span{
    position: absolute;
    left: -1000px;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
#gallery a:hover span {
    position: absolute;
    top: 16px;
    left: 320px;
    text-align: center;
    opacity: 1;
}
@media only screen and (max-width: 64em) {
    body{
        margin: 0;
        background-color: white;
    }
    #wrapper{
        min-width: 0;
        width: auto;
        box-shadow: none;
        border: none;
    }
    h1{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-left: 0;
        height: auto;
        letter-spacing: 0.1em;
    }
    main{
        margin-left: 0;
    }
    nav{
        float: none;
        width: auto;
        text-align: center;
        padding: 0.5em;
    }
    main ul{
        display: inline;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    #homehero{
        margin-left: 0;
        height: 200px;
    }
    #yurthero{
        margin-left: 0;
        height: 200px;
    }
    #trailhero{
        margin-left: 0;
        height: 200px;
    }
    footer{
        margin-left: 0;
    }
    #gallery{
        height: 200px;
        position: relative;
    }
    figure{
        position: absolute;
        left: 280px;
        text-align: center;
        opacity: 10;
    }
    #gallery ul {
        width: 300px;
        list-style-image: none;
    }
    #gallery li{
        display: inline;
        float: left;
        padding: 10px;
    }

    #gallery a{
        text-underline: none;
        color: #eaeaea;
        font-style: italic;
    }
    #gallery img{
        border: none;
    }
    #gallery span{
        position: absolute;
        left: -1000px;
        opacity: 0;
        transition: opacity 3s ease-in-out;
    }
    #gallery a:hover span {
        position: absolute;
        top: 16px;
        left: 320px;
        text-align: center;
        opacity: 1;
    }
}
@media only screen and (max-width: 37.5em){
    main{
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 90%;
    }
    h1{
        font-size: 2em;
    }
    nav{
        padding: 0;
    }
    main ul{
        display: block;
        margin: 0;
        border-bottom: 2px #330000;
    }
    nav a{
        display: block;
    }
    #homehero{
        display: none;
        background-image: none;
        height: 0;
    }
    #yurthero{
        display: none;
        background-image: none;
        height: 0;
    }
    #trailhero{
        display: none;
        background-image: none;
        height: 0;
    }
    #mobile{
        display: inline;
    }
    #desktop{
        display: none;
    }
    label{
        float: none;
        text-align: left;
    }
    input{
        margin-left: 0;
    }
    #gallery{
        display: none;
    }
}